@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
 @import url('https://fonts.googleapis.com/css?family=Cute+Font|Nunito|Roboto:300');   
 @import url('https://fonts.googleapis.com/css?family=Lobster+Two');
 @import url('https://fonts.googleapis.com/css?family=Amaranth');
 @import url('https://fonts.googleapis.com/css?family=Wire+One');
 
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Kite+One');
 
.cuerpo {
   font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Cute Font', cursive;
    font-family: 'Nunito', sans-serif;
    background-image: url("../Imagenes/FondoPagina_Principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; /* Safari 3.0 */
    -moz-background-size: cover; /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: cover; /* Opera 9.5 */
    background-size: cover; /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    background-size: cover;
}

.main article {
    display: inline-block;
    width: 95%;
    vertical-align: top;
    padding-right: 2%;
    margin: auto;
    padding-top: 2%;
    font-size: 1em;
}

.main article p {
        
        width: 70%;
        margin: auto;
    }
    .main article a {
        color: white;
        font-size: 0.8em;
    }

    .main article img {
        width: 65%;
        border-color: #CCCCCC;
        padding: 8%;
    }

    .main article div {
        margin-left: 3%;
        display: inline;
        text-align: left;
    }

        .main article div img, .main article div p {
            display: inline;
        }

    .main article .item {
        width: 0.4em;
        margin: 0;
        padding: 0 1% 0 0;
    }

    .main article div p {
        margin: 0;
        padding: 0;
        vertical-align: top;
        font-size: 0.9em;
    }

.secundario {
    padding: 3% 0 0 0;
}

    .secundario article {
        width: 100%;
        vertical-align: top;
        padding-right: 5%;
        text-align: left;
        padding-top: 2%;
        padding-bottom: 2%;
    }

        .secundario article img, .secundario article div {
            display: inline-block;
        }

        .secundario article img {
            width: 25%;
            border-style: solid solid solid solid;
            border-color: #CCCCCC;
            padding: 1%;
        }

        .secundario article h3 {
            padding-bottom: 3%;
        }


        .secundario article div {
            width: 65%;
            padding-left: 2%;
            vertical-align: top;
        }



.noticias, aside {
    display: inline-block;
}

    aside div {
        width: 75%;
        text-align: center;
        margin: auto;
    }

        aside div .Caja, aside div .Caja2 {
            border-style: none none solid none;
            border-color: rgb(95, 91, 91);
            width: 85%;
            padding: 7% 7% 2% 7%;
            font-size: 1.2em;
            color: rgb(237, 232, 232);
            background-color: rgba(0, 0, 0, 0);
        }

Multilinea2 {
    height: 150px;
}
        
        aside div .Caja::placeholder { color:  rgba(237, 232, 232, 0.7); }

        aside div .Multilinea {
            border-style: solid solid solid solid;
            border-color: rgb(95, 91, 91);
            background-color: rgba(255, 255, 255, 0.8);
            margin-top: 7%;
            font-size: 1.2em;
        }

        aside div .boton {
            border-style: solid solid solid solid;
            border-color: rgb(95, 91, 91);
            background-color: rgba(95, 91, 91, 1);
            margin-top: 7%;
            font-size: 1.2em;
            padding: 7%;
            width: 100%;
            color: white;
        }




aside {
    width: 28%;
    vertical-align: top;
    padding: 2% 2% 2% 2%;
    text-align: center;
}

    aside div {
        padding-top: 6%;
        display: inline-block;
        margin: auto;
    }

        aside div img {
            display: inline-block;
            padding-top: 2%;
        }

.img_principal {
    width: 100%;
    border-style: solid solid solid solid;
    border-color: #CCCCCC;
    padding: 10%;
}



@media(min-width:1081px) {
    .main {
   width: 70%;
}
    .cuerpo {
        width: 95%;
    }

    .noticias {
    width: 60%;
    padding: 5% 1% 2% 0;
    margin: auto;
    text-align: center;
    font-size: 1.6em;
}
}

@media(max-width: 1080px) {
       .noticias {
   width: 70%;
}

       .noticias {
    width: 90%;
    padding: 5% 1% 2% 0;
    margin: auto;
    text-align: center;
    font-size: 1.6em;
}
}

@media(max-width: 800px) {
    .noticias {
         width: 100%;
         padding: 0;
    }
    .noticias {
    width: 99%;
    padding: 5% 1% 2% 0;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
}
    .main {
        width: 99%;
    }
    .main article {
        width: 90%;  
        font-size: 0.8em;
    }
     .main article p {
        width: 100%; 
        margin: auto;
    }

       .main article img {
        width: 50%; 
        z-index: 10;
        opacity: 0.8;
    }
    aside {
        width: 82%;
        margin: 7%;
        background-color: rgba(246, 236, 236, 0.7);
        color: rgb(75, 73, 73);
    }

    aside div .Caja { color:  rgb(75, 73, 73); }

     aside div .Caja::placeholder { color:  rgba(75, 73, 73, 0.6); }
}

@media(max-width: 600px) {
}
